.logo-image {
  height: 35px;
  width: 35px;
}
.main-container {
  background-color: #161625;
  min-height: 100vh;
  max-height: 100%;
  color: #cbd5e1;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-image {
  height: 250px;
  width: 250px;
}
